@import "variables.less";
@import "mixins.less";

body {
	color: @dark-font-color;
}

nav {
	background-color: @light-bg;
	
	.container {
		min-height: 75px;
	}
}

header {
	background-color: @dark-bg;

	.container {
		min-height: 775px;
	}

}

.lp-title {
	text-align: center;
}

.lp-title-light {
    color: #fff; 
}

.lp-title-dark {
	color: @dark-font-color;
}

.lp-description {
	text-align: center;
	font-size: 20px;
}

h1.lp-title {
	font-size: 65px;
	line-height: 75px;
    width: 770px;
    margin: 170px auto 50px;
}


h2.lp-title {
	font-size: 60px;
    margin: 130px auto 25px;
}





#about-us {
	background-color: @light-bg;

	.container {
		min-height: 1000px;
	}
}

#our-focus {
	background-color: @light-gray-bg;

	.container {
		min-height: 825px;

	}
}

#our-awesome {
	background-color: @dark-bg;

	.container {
		min-height: 500px;

	}
}

#portfolio {
	background-color: @light-bg;

	.container {
		min-height: 1383px;

	}
}




#our-team {
	background-color: @light-gray-bg;

	.container {
		min-height: 1229px;

	}
}


#company-progress {
	background: url(../img/cofee-bg.jpg) center center;

	.container {
		min-height: 462px;

	}
}

#work-steps {
	background-color: @light-bg;

	.container {
		min-height: 1727px;

	}
}


#pricing-table {
	background-color: @light-gray-bg;

	.container {
		min-height: 1052px;

	}
}


#testimonials {
	background-color: @dark-bg;

	.container {
		min-height: 874px;

	}
}


#why-select-us {
	background-color: @light-bg;

	.container {
		min-height: 1050px;

	}
}


#our-blog {
	background-color: @light-gray-bg;

	.container {
		min-height: 1150px;

	}
}


#subscribe-to-newsletter {
	background-color: @light-bg;

	.container {
		min-height: 424px;

	}
}


#get-in-touch {
	background-color: @gray-bg;

	.container {
		min-height: 1276px;

	}
}

