@import "variables.less";
@import "mixins.less";

body {
	color: @gray-font-color;
	font-family: 'poppins', helvetica, sans-serif;
	font-size: 15px;
	line-height: 27px;
	font-weight: 400;
	text-align: center;
	overflow-x: hidden !important; 
}


nav {
	background-color: @light-bg;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	
	.container {
		min-height: 75px;
	}
}

header {
	background: @dark-bg url(../img/bg/header.jpg) no-repeat top;
	background-size: cover;
	background-attachment: fixed;
	position: relative;


	.container {
		min-height: 775px;
	}

}

section {
  	position: relative;
}


.dark-bg-overlay {
	background-color: rgba(38, 39, 50, 0.85);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


.lp-title {
	 font-family: 'Libre Baskerville', 'Playfair Display', Georgia, serif;
}

.lp-title-light {
    color: #fff; 
}

.lp-title-dark {
	color: @dark-font-color;
}

.lp-description {
	text-align: center;
	font-size: 20px;
}

h1.lp-title {
    font-size: 60px;
    line-height: 85px;
    width: 830px;
    margin: 240px auto 60px;
}


h2.lp-title {
	font-size: 60px;
    margin: 130px auto 25px;
    font-weight: 600;
}


#about-us {
	background-color: @light-bg;

	.container {
		min-height: 1000px;
	}
}

#our-focus {
	background-color: @light-gray-bg;

	.container {
		min-height: 825px;

	}
}

#our-awesome {
	background-color: @dark-bg;

	.container {
		min-height: 500px;

	}
}

#portfolio {
	background-color: @light-bg;

	.container {
		min-height: 1383px;

	}
}




#our-team {
	background-color: @light-gray-bg;

	.container {
		min-height: 1229px;

	}
}


#company-progress {
	background: url(../img/bg/cofee.jpg) center center;

	.container {
		min-height: 462px;

	}
}

#work-steps {
	background-color: @light-bg;

	.container {
		min-height: 1727px;

	}
}


#pricing-table {
	background-color: @light-gray-bg;

	.container {
		min-height: 1052px;

	}
}


#testimonials {
	background-color: @dark-bg;

	.container {
		min-height: 874px;

	}
}


#why-select-us {
	background-color: @light-bg;

	.container {
		min-height: 1050px;

	}
}


#our-blog {
	background-color: @light-gray-bg;

	.container {
		min-height: 1150px;

	}
}


#subscribe-to-newsletter {
	background-color: @light-bg;

	.container {
		min-height: 424px;

	}
}


#get-in-touch {
	background-color: @gray-bg;

	.container {
		min-height: 1276px;

	}
}

